<ion-header>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let fixture of fixtures" button (click)="showDetalleFixture(fixture)">
      <!-- <ion-avatar slot="start">
        <ion-img [src]="fixture.teams.away.logo"></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-row>
          <p style="font-size:8px">{{fixture.teams.away.name}}</p>
          <b>{{fixture.goals.away}} | {{fixture.goals.home}}</b>
          <p style="font-size:8px">{{fixture.teams.home.name}}</p>
        </ion-row>
       
      </ion-label>
      <ion-avatar slot="end">
        <ion-img [src]="fixture.teams.home.logo"></ion-img>
      </ion-avatar> -->
      <ion-toolbar>
        <ion-avatar slot="start">
          <ion-img [src]="fixture.teams.away.logo"></ion-img>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-img [src]="fixture.teams.home.logo"></ion-img>
        </ion-avatar>
    
        <ion-title class="fixture-result"> 
          <p style="font-size:10px">{{fixture.teams.away.name}}</p>
          <b>{{fixture.goals.away}} | {{fixture.goals.home}}</b>
          <p style="font-size:10px">{{fixture.teams.home.name}}</p></ion-title>
      </ion-toolbar>
    </ion-item>
  </ion-list>





