<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Resultados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>En Vivo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
