<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Paises </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paises</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="showCountries">
    <ion-item *ngFor="let country of countries" button (click)="showLigasOfCountry(country)">
      <ion-avatar slot="start">
        <ion-img [src]="country.flag"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{country.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="showDetalleCountry">
    <app-home-fixture [country]="countrySelected"></app-home-fixture>
  </div>
</ion-content>
