<ion-header>
  <ion-toolbar>
    <ion-title>{{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let liga of leagues" button (click)="showLiga(liga)">
      <ion-avatar slot="start">
        <ion-img [src]="liga.league.logo"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{liga.league.name}}</h2>
        <h3>{{liga.league.type}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
